<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Crystal.Reports" version="13.0.15.1840" targetFramework="net452" />
  <package id="MetroFramework.Design" version="1.2.0.3" targetFramework="net452" />
  <package id="MetroFramework.RunTime" version="1.2.0.3" targetFramework="net452" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net452" />
  <package id="Microsoft.Report.Viewer" version="11.0.0.0" targetFramework="net452" />
  <package id="Stimulsoft.Reports.Engine" version="2018.3.5" targetFramework="net452" />
  <package id="Stimulsoft.Reports.Net" version="2018.3.5" targetFramework="net452" />
</packages>